.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Isis{
  display: block;
  height: 60px;
  background: #61dafb;
  line-height: 60px;
  color: #282c34;
}
input{
  width: 60%;
  height: 40px;
  font-size: 1em;
  border: none;
  box-shadow: 0px 0px 15px #fff;
}
button{
    width: 30%;
    height: 30px;
    font-size: 1em;
    border-radius: 7px;
    background: #61dafb;
    cursor: pointer;

}
.area-sensible{
    border: 3px solid#fff;
    width: 70px;
    width: 300px;
    margin: auto;
    line-height: 300px;
    border-radius: 20px;
    
}
.letra-verde{
  color: #70e070;
}
.letra-roja{
  color: #df1d1d
}

.imc-container{
  width: 350px;
  margin: 25px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 10px rgb(0,0,0,0.1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo{
  text-align: center;
  margin-bottom: 20px;
  color: #333;

}
.campo{
  margin-bottom: 15px;
}
.campo label{
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.campo input{
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;

}
.btn-imc{
  width: 100%;
  background: #007bff;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;

}
.btn-imc:hover{
  background: #0056b3;

}
.resultado-box{
  margin-top: 20px;
  padding: 15px;
  background: #be1111;
  border-radius: 8px;
  text-align: center;

}
.categoria{
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;

}
.extra-box{
  margin-top: 15px;
  border-left: 4px solid #007bff;
  border-radius: 8px;
  background: #0056b3;
  padding: 15px;
}
.estra-box h3{
margin-bottom: 5px;
color: #df1d1d;
}
.extra-box{
  margin: 4px 0;
}






